n8n-workflows/tj-wf1-feeder.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1632, 144],
      "id": "d8632102-803b-41ba-a9b9-f150fbaade18",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5,7,9,11,13 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1632, -32],
      "id": "a307658d-650d-4eb1-9c30-7e99012de5d8",
      "name": "Every 2h (8-16 Finnish)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tj-katsastus-feeder",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1632, 320],
      "id": "e4f3a1b2-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Dashboard Webhook",
      "webhookId": "tj-katsastus-feeder"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT auto_send_due_soon, auto_send_passed FROM tj_config WHERE id = 'main' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1392, -32],
      "id": "c1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6",
      "name": "Check Auto-Send Config",
      "credentials": {
        "postgres": {
          "id": "OFlPRP5F4peeJpaM",
          "name": "v2back-working"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst items = [];\n\nif (config.auto_send_due_soon) {\n  items.push({ json: { lead_type: 'due_soon', max_leads: 4 } });\n}\nif (config.auto_send_passed) {\n  items.push({ json: { lead_type: 'passed', max_leads: 4 } });\n}\n\nif (items.length === 0) {\n  // Nothing enabled, stop execution\n  return [];\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1152, -32],
      "id": "d2b3c4d5-e6f7-a8b9-c0d1-e2f3a4b5c6d7",
      "name": "Filter Enabled Types"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    bridge_url: 'https://doris-bridge.yellowpond-051e3dca.eastus.azurecontainerapps.io',\n    bridge_api_key: 'RapidScreenDoris',\n    target_webhook: 'https://n8n-rapid-czbff9cnafhkhmhf.eastus-01.azurewebsites.net/webhook/tj-katsastus-outbound',\n    max_leads_to_send: item.max_leads || 4,\n    default_station_id: 58,\n    lead_type: item.lead_type || 'both'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-912, -32],
      "id": "e3c4d5e6-f7a8-b9c0-d1e2-f3a4b5c6d7e8",
      "name": "Auto Build Config"
    },
    {
      "parameters": {
        "jsCode": "let overrideLeads = null;\nlet leadType = 'both';\ntry {\n  const body = $('Dashboard Webhook')?.first()?.json?.body || {};\n  overrideLeads = body.max_leads_to_send;\n  if (body.lead_type) leadType = body.lead_type;\n} catch(e) {}\n\nreturn [{\n  json: {\n    bridge_url: 'https://doris-bridge.yellowpond-051e3dca.eastus.azurecontainerapps.io',\n    bridge_api_key: 'RapidScreenDoris',\n    target_webhook: 'https://n8n-rapid-czbff9cnafhkhmhf.eastus-01.azurewebsites.net/webhook/tj-katsastus-outbound',\n    max_leads_to_send: overrideLeads || 50,\n    default_station_id: 58,\n    lead_type: leadType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1392, 232],
      "id": "8ec4392e-d1d5-4f62-a9af-0905d08fdf85",
      "name": "Build Config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT number, customer_id, stop_reminders, last_outbound_at, next_reminder_at\nFROM tj_outbound_sessions;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-672, 100],
      "id": "fa93c46f-bcd9-48be-9714-453e054f8864",
      "name": "Load Active Sessions",
      "credentials": {
        "postgres": {
          "id": "OFlPRP5F4peeJpaM",
          "name": "v2back-working"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Build Config').first()?.json || $('Auto Build Config').first()?.json;\nconst existingRows = $input.all().map(i => i.json);\n\nconst excludedNumbers = [];\nconst excludedCustomerIds = [];\nfor (const r of existingRows) {\n  if (r.number) excludedNumbers.push(String(r.number));\n  if (r.customer_id != null) excludedCustomerIds.push(String(r.customer_id));\n}\n\nconst startRes = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${cfg.bridge_url}/api/doris/inspection-leads`,\n  headers: { 'X-API-Key': cfg.bridge_api_key },\n  body: {\n    excluded_numbers: excludedNumbers,\n    excluded_customer_ids: excludedCustomerIds,\n    max_leads: cfg.max_leads_to_send,\n    default_station_id: cfg.default_station_id,\n    lead_type: cfg.lead_type || 'both',\n  },\n  json: true,\n  timeout: 15000,\n});\n\nif (!startRes?.success) {\n  throw new Error('Failed to start scan: ' + JSON.stringify(startRes).slice(0, 500));\n}\n\nconst jobId = startRes.data.job_id;\n\nlet result = null;\nfor (let i = 0; i < 40; i++) {\n  await new Promise(r => setTimeout(r, 15000));\n  const poll = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${cfg.bridge_url}/api/doris/inspection-leads/status/${jobId}`,\n    headers: { 'X-API-Key': cfg.bridge_api_key },\n    json: true,\n    timeout: 15000,\n  });\n  if (!poll?.success && poll?.error) {\n    throw new Error('Scan failed: ' + poll.error);\n  }\n  if (poll?.data?.status === 'done') {\n    result = poll.data;\n    break;\n  }\n}\n\nif (!result) {\n  throw new Error('Scan timed out after 10 minutes (job_id: ' + jobId + ')');\n}\n\nreturn [{\n  json: {\n    ...cfg,\n    fetched_count: result.fetched_count,\n    selected_count: result.selected_count,\n    passed_count: result.passed_count,\n    due_soon_count: result.due_soon_count,\n    selection_stats: result.stats,\n    fetch_errors: result.fetch_errors,\n    customers_payload: { customers: result.leads },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-192, 100],
      "id": "fc65cc42-8909-4003-bad5-e0a185e46759",
      "name": "Fetch Inspection Leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "tj-feeder-has-customers",
              "leftValue": "={{ $json.selected_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [288, 100],
      "id": "bb96d376-41fb-47f0-9928-fe5eb2e56add",
      "name": "Has Eligible Leads?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.target_webhook }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.customers_payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [528, -16],
      "id": "267e8a5b-e525-4e0f-9df7-22335eccebd5",
      "name": "Trigger TJ WF-1"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Fetch Inspection Leads').first().json;\nconst triggered = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    ok: true,\n    mode: 'triggered',\n    fetched_count: cfg.fetched_count,\n    selected_count: cfg.selected_count,\n    selection_stats: cfg.selection_stats,\n    fetch_errors: cfg.fetch_errors,\n    target_webhook: cfg.target_webhook,\n    triggered_response: triggered\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, -16],
      "id": "794e2f9d-d0f0-4ef4-b925-9d84f0ee9524",
      "name": "Build Result (Sent)"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Fetch Inspection Leads').first().json;\n\nreturn [{\n  json: {\n    ok: true,\n    mode: 'no_eligible_leads',\n    fetched_count: cfg.fetched_count,\n    selected_count: cfg.selected_count,\n    selection_stats: cfg.selection_stats,\n    fetch_errors: cfg.fetch_errors,\n    target_webhook: cfg.target_webhook\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 208],
      "id": "bad17ad9-6269-45ef-a01f-61bd794a1224",
      "name": "Build Result (No Leads)"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Build Config", "type": "main", "index": 0 }]]
    },
    "Every 2h (8-16 Finnish)": {
      "main": [[{ "node": "Check Auto-Send Config", "type": "main", "index": 0 }]]
    },
    "Check Auto-Send Config": {
      "main": [[{ "node": "Filter Enabled Types", "type": "main", "index": 0 }]]
    },
    "Filter Enabled Types": {
      "main": [[{ "node": "Auto Build Config", "type": "main", "index": 0 }]]
    },
    "Auto Build Config": {
      "main": [[{ "node": "Load Active Sessions", "type": "main", "index": 0 }]]
    },
    "Dashboard Webhook": {
      "main": [[{ "node": "Build Config", "type": "main", "index": 0 }]]
    },
    "Build Config": {
      "main": [[{ "node": "Load Active Sessions", "type": "main", "index": 0 }]]
    },
    "Load Active Sessions": {
      "main": [[{ "node": "Fetch Inspection Leads", "type": "main", "index": 0 }]]
    },
    "Fetch Inspection Leads": {
      "main": [[{ "node": "Has Eligible Leads?", "type": "main", "index": 0 }]]
    },
    "Has Eligible Leads?": {
      "main": [
        [{ "node": "Trigger TJ WF-1", "type": "main", "index": 0 }],
        [{ "node": "Build Result (No Leads)", "type": "main", "index": 0 }]
      ]
    },
    "Trigger TJ WF-1": {
      "main": [[{ "node": "Build Result (Sent)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a16a009438c0108514d89098a1ccaae1e6af9a50a5d072fa548c7cad76662d10"
  }
}
